.container {
    .rounded-circle {
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
    }

    .change-view {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-end;
        min-height: 50px;

        .icon {
            padding: 1rem;
            cursor: pointer;
            @media only screen and (max-width: 770px) {
                display: none;
            }
        }

        .inactive {
            opacity: 0.5;
        }

        .active {
            opacity: 1;
        }
    }

    .products {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        @media only screen and (max-width: 770px) {
            justify-content: center;
        }

        .card {
            max-width: 32%;
            min-height: 460px;
            @media only screen and (min-width: 770px) and (max-width: 1400px) {
                max-width: 48%;
            }
            @media only screen and (max-width: 770px) {
                max-width: 90%;
            }

            .card-body {
                .description {
                    max-height: 10rem;
                    overflow: auto;
                }
            }

            .footer {
                display: flex;
                justify-content: space-between;
                .show-review {
                    color: #5252FFFF;
                    text-decoration: underline;
                    cursor: pointer;
                    margin-bottom: 0
                }
            }

            .delete {
                color: red;
                cursor: pointer;
                display: flex;
                align-self: flex-end;
            }
        }

        &.columns {
            flex-direction: column;
            flex-wrap: nowrap;

            .card {
                min-height: unset;
                padding: 0 12px;
                max-width: 100%;
            }
        }
    }
}
