html {
  height: 100%;
}

body {
  font-family: open sans, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
  color: #364147;
  background-color: #fff;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}

.content {
  flex: 1 0 auto;
  padding: 20px;
}

header {
  min-height: 4rem;
  display: flex;
}

header img {
  max-height: 100px;
}

nav {
  display: flex;
  background-color: rgba(0, 0, 255, 0.68);
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
}

.button-container {
  padding: 0 1.5rem;
  cursor: pointer;
}

footer {
  text-align: center;
  color: rgb(128, 128, 128);
  padding: 20px 0 20px 0;
  flex-shrink: 0;
  background-color: gainsboro;
}

header ul {
  margin: 0;
}

header li {
  display: inline;
  margin-right: 20px;
}

a, span {
  color: white !important;
  font-size: 22px;
  text-decoration: none;
}

a.active {
  text-decoration: underline;
}

form > div {
  margin-bottom: 20px;
}

.lds-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
